<div class="container-md px-5 py-3 border border-4">
  <div class="row">
    <div class="col-sm-10">
      <p class="h1 text-center">檳榔攤管理網</p>
    </div>
    <div class="col-sm-2">
      <p class="h4">使用者</p>
      <a href="/login">
        <button class="btn brn-primary">登出</button>
      </a>
      
    </div>
    <h2 id="datetime">現在</h2>
    <h2>值班班別:</h2>
  </div>
  <div class="row" id="menu">
    <div class="col-sm-4 d-flex justify-content-center align-items-center">
      <a href="/checkin" style="text-decoration:none;">
        <p class="h1">打卡</p>
      </a>
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center">
      <a href="/checkout" style="text-decoration:none;">
        <p class="h1">交班</p>
      </a>
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center">
      <a href="printAndSale" style="text-decoration:none;">
        <p class="h1">列印標籤與銷售</p>
      </a>
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center">
      <a href="checkinList" style="text-decoration:none;">
        <p class="h1">打卡記錄查詢</p>
      </a>
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center">
      <a href="record" style="text-decoration:none;">
        <p class="h1">交班紀錄查詢</p>
      </a>
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center">
      <a href="manager" style="text-decoration:none;">
        <p class="h1">老闆管理</p>
      </a>
    </div>
  </div>
</div>
