  <form class="row was-validated" action="/login" method="post">
    <p class="h1 text-center">檳榔攤管理系統</p>
    <div class="mb-3 pt-3">
      <label class="form-label">帳號／手機</label>
      <input type="text" class="form-control" id="form-login" name="idnum" required>
    </div>
    <div class="mb-3 pt-3">
      <label for="form-label">密碼</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div>
      <button class="btn btn-primary" type="submit" id="login-button">登入</button>
    </div>
  </form>
